@import
    'base/_variables.scss',
    'base/_page.scss',
    'components/_alert.scss',
    'components/_images.scss',
    'components/_radio.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // outline: 1px dashed red;

}




/*|| SMALL */
@media screen and (max-width: 767px)  {
    body{
        
        background-color: green;
        background-image: radial-gradient(whitesmoke, green);
        max-width: 100%;
        overflow-x: hidden;
    }
    .appContainer{
    
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px .5fr .5fr .5fr .7fr .7fr .7fr 1.5fr 1fr 1fr 1fr;
    grid-template-areas:
    "header"
    "nav"
    "dashboard"
    "traffic"
    "result"
    "daily_Traffic"
    "mobile_Users"
    "social_Stats"
    "new_Members"
    "recent_Activity"
    "message_User"
    "settings"
    ;
    gap: 0.2rem;
    font-weight: 800;
    
    }
    #header{
        grid-area: header;
        width: 100%;
        height: 70px;
    }
    #nav{
        grid-area: nav;
        display: flex;
        flex-grow: 1;
        // background-color: aquamarine;
        justify-content: space-between;
    
    }
    #dashboard{
        grid-area: dashboard;
    }
    #traffic{
        grid-area: traffic;
        margin-left: 10px;
    }
    #result{
        grid-area: result;
    }
    #daily_Traffic{
        grid-area: daily_Traffic;
    }
    #mobile_Users{
        grid-area: mobile_Users;
    }
    #social_Stats{
        grid-area: social_Stats;
    }
    #new_Members{
        grid-area: new_Members;
    }
    #recent_Activity{
        grid-area: recent_Activity;
    }
    #message_User{
        grid-area: message_User;
    }
    #settings{
        grid-area: settings;
    }
    

    .nav-icon{
        width: 45px;
        margin: 1em 1em 0 1em;
        
    }
    .displayChart{
        width: 100%;
        max-height: 320px;
    }

    .activity .member{  
        align-items: center;
    }

    .member{ 
        text-align: center;
    }
    .btp{
        margin-bottom: 20px;
    }
   
    

}

/*|| MEDIUM */
@media screen and (min-width: 768px)  {
    body{
        background-color: firebrick;
        background-image: radial-gradient(whitesmoke, firebrick);
        max-width: 100%;
        overflow-x: hidden;
    }
    .appContainer{
        display: grid;
        grid-template-columns: 90px 1fr 1fr;
        grid-template-rows: 70px 110px 70px .2fr .2fr .2fr 1fr 1fr .5fr .5fr;
        grid-template-areas:
        "header header header"
        "nav dashboard dashboard"
        "nav traffic traffic"
        "nav result result"
        "nav daily_Traffic mobile_Users"
        "nav social_Stats social_Stats"
        "nav new_Members new_Members"
        "nav recent_Activity recent_Activity"
        "nav message_User message_User"
        "nav settings settings"
        ;
    }  
    header{
        grid-area: header;
    }
    .nav{
        grid-area: nav;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        text-align: center;
        background: rgba(185, 55, 55, 0.578);


    }
    #dashboard{
        grid-area: dashboard;
    }
    #traffic{
        grid-area: traffic;
    }
    #result{
        grid-area: result;

    }
    #daily_Traffic{
        grid-area: daily_Traffic;
    }
    #mobile_Users{
        grid-area: mobile_Users;
    }
    #social_Stats{
        grid-area: social_Stats;
    }
    #new_Members{
        grid-area: new_Members;
    }
    #recent_Activity{
        grid-area: recent_Activity;
    }
    #message_User{
        grid-area: message_User;
    }
    #settings{
        grid-area: settings;
    }

        .nav{
            
            // margin-top:-1.5px;
            // display: flex;  
            // grid-row-end: auto;
            
            // flex-direction: column;
            // align-content: flex-start;
            // grid-auto-flow: row;
            
            
            a{
                padding-top: 1em;
                padding-right: .8em;
                padding-bottom: 3em;
            }

            
        }

        .daily_Traffic{
            display: flex;
            flex-direction: column;           
            align-items: flex-start;
            text-align: left;
            width:45vw;

        }
        .mobile_Users{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            width:45vw;
            
        }
       .social_card{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
       }
       .new_Members, .recent_Activity{
        border: 1px solid;
       }
       
       .members .member{
            display: flex;
            align-items: center;
            padding-left: 0;   
            justify-content: space-between;        
            position: relative;
            
        }
        
        .members .member div{
            position: absolute;
            text-align: left;
            left: 135px;
  
        }

        .activity .member{
            display: flex;
            align-items: center;
            padding-left: 0;   
            justify-content: space-between;        
            position: relative;
        }

        .activity .member div{
            position: absolute;
            text-align: left;
            left: 135px;

        }
       
    



    .btp{
        display: none;
    } 

}

/*|| XL LARGE */
@media screen and (min-width: 1024px)  {
    body{
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
        max-width: 100%;
        overflow-x: hidden;
    }
    .appContainer{
        grid-template-columns: 90px 1fr 1fr;
        grid-template-rows: 70px 110px 70px .3fr .3fr .3fr 1fr .5fr;
        grid-template-areas:
        "header header header"
        "nav dashboard dashboard"
        "nav traffic traffic"
        "nav result result"
        "nav daily_Traffic mobile_Users"
        "nav social_Stats social_Stats"
        "nav new_Members recent_Activity"
        "nav message_User settings"
        
        ;
        #header{
            grid-area: header;
        }
        #nav{
            grid-area: nav;
            background: rgba(146, 77, 214, 0.591);
        }
        #dashboard{
            grid-area: dashboard;
        }
        #traffic{
            grid-area: traffic;
        }
        #daily_Traffic{
            grid-area: daily_Traffic;
        }
        #mobile_Users{
            grid-area: mobile_Users;
        }
        #social_Stats{
            grid-area: social_Stats;
        }
        #new_Members{
            grid-area: new_Members;
        }
        #recent_Activity{
            grid-area: recent_Activity;
        }
        #message_User{
            grid-area: message_User;
        }
        #settings{
            grid-area: settings;
        }

        
       
       

        .daily_Traffic{
           
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // width:30vw;
           
        }
        .mobile_Users{
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // width:30vw;
        }
       .social_card{
            
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .new_Members{
            text-align: left;
            border-top: 1px solid;
            border-right: 1px solid;
        }
        .activity .member::after{
            content: ">";
            font-size: 2em;
            position: absolute;
            top:45%;
            right: 10px;
        }
        
        .sc{
            display:grid;
            padding: 0;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            
        
        }    
        
        #save{
           margin: 0 25px 0 0;
           padding: 0 ;
        }
        #cancel{
            margin: 0 0 0 25px;
           padding: 0;
       

    }
    .btp{
        display: none;
        margin-top: 30px;
    }  
    }
}





