


.header{
//  grid-area: header;
 background-color: aqua;
 display: flex;
justify-content: space-between;
 align-items: center;  
 padding: 2rem;
    
}
.student{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.user{
    margin: 0 1.1rem;
}


/* || Dashboard section before Daily Traffic */

.dashboard{
    
     // background-color: burlywood;
    // min-width: 320px;
    width:100%;
    margin: 10px;
    padding:15px;
    .dashTitle{
        font-size: 2em;
    }

}
// nav{
    // grid-area: nav;
    // display: flex;
    // flex-grow: 1;
    // // background-color: aquamarine;
    // justify-content: space-between;
     
// }


.result{
    // grid-area: result;
    // display: grid;
    width: 100%;
}    


// .displayChart{
//     width: 95vw;
//     max-height: 300px;
// }

/*|| Daily Traffic */
.daily_Traffic{
    align-content: center ;
    // background-color: bisque;
    // min-width:320px;
    // max-width: 350px;
    // width:90vw;
    // height: 350px;
    // padding: 15px
}
.mobile_Users{
    align-content: center;
    // background-color: #51d47a;
    // min-width:320px;
    // max-width: 350px;
    // height: 350px;
    // width: 90vw;
    // padding: 15px;

}
.social_Stats{
   
    // background-color: cadetblue;
    padding: 15px;
    .card{
        display: flex;
        padding: 1rem;
        border: 1px solid;
        border-radius: .3rem;
        margin: 1rem;
        .social{
            border: 1px solid;
            border-radius: 50px;
            padding: 10px;
            color: white;
            background-color: rgb(146,161,207);
            // filter: invert(1);   
        }
        .stats{
            padding-left: 2rem;
        }
    }
}

.new_Members{
   
    // background-color: darkolivegreen;
    padding: 15px ;
    
}
.member{
    display: grid ;
    justify-items: center;           
    border-bottom: 1px solid;
    padding: 1.5rem;
    
    img{
        border-radius: 50%;
    }
 }    
.recent_Activity{
    
    // background-color: antiquewhite;
    padding: 15px ;
    
}
.message_User{
    
    // background-color: blueviolet;
    padding: 15px;
    h3{
        margin-bottom: 15px;
    }
    form{
        display:grid;
        row-gap: 15px;
        input, textarea{
            padding: 15px;
        }
    }    
}
/* || setting */ 
.settings{
    
    display: grid;
    // margin: 10px;
    padding: 15px;
    // align-self: center;
    select, button, span, a{
        font-size: 1.1rem;
        margin:5px;
        padding: 5px;
    }

}
input, textarea, select, button{
    border-radius: var(--radius);
}
.sc{
    display:grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    

}    

#send, #save{
    
    background-color: red;
    color: white;
}
#cancel{
    background-color: grey;
    color: black;
}
.btp{
    display: flex;
    justify-content: center;
    align-content: center;
    outline: 1px dashed red($color: #000000);

}




